In [1]:
# Standard data science libraries
import pandas as pd
import numpy as np
from pathlib import Path

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import plotly
# Authenticate with your account
plotly.tools.set_credentials_file(username='####',api_key='###')

import plotly.plotly as py
import plotly.graph_objs as go

# Offline mode
from plotly.offline import iplot
plotly.offline.init_notebook_mode(connected=True)

In [2]:
from bnb.data_processing.read import read_csvfile
from bnb.data_processing.clean import group_by_date
from bnb.data_processing.clean import price_format
from bnb.data_processing.clean import bathrooms_int
from bnb.data_processing.clean import shared_bathroom
from bnb.data_processing.clean import super_host
from bnb.data_processing.clean import beds_int
from bnb.data_processing.clean import num_of_stars

## Reading Data

In [3]:
Data_dir = Path('C:/Users/KBrig/AirBnBRepo/AirBnB/data')
Data_dir

WindowsPath('C:/Users/KBrig/AirBnBRepo/AirBnB/data')

In [4]:
NewYork_CSV = Data_dir/'AirBnBNY.csv'
Bangkok_CSV = Data_dir/'AirBnbDataBangkok.csv'
Cairo_CSV = Data_dir/'AirBnbDataCairo.csv'

## NewYork

In [5]:
NewYorkData = read_csvfile(NewYork_CSV)
NewYorkData.head()

,Unnamed: 0,Accuracy_stars,Amenities,Bathrooms_num,Bedrooms_no,Beds_no,CheckIn,CheckIn_stars,CheckOut,Cleanliness_stars,...,Latitude,Location_stars,Longitude,Price,Review,Reviewers_no,Sleeping_engagment,Super_host,Title,Value_stars
0,0,Rating 5 out of 5,"['Indoor fireplace', 'Wifi', 'Iron', 'Laptop f...",1 bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.73321,Rating 5 out of 5,-74.00242,$244,87 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,Bedroom 1\r\n1 queen bed,Brian is a Superhost Â·,*Luxury 1 Bedrm Private Designer Home & Roofdeck*,Rating 4.5 out of 5
1,1,Rating 4.5 out of 5,"['Indoor fireplace', 'Wifi', 'Laptop friendly ...",1 shared bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 4.5 out of 5,2019-03-26 00:00:00,Rating 4 out of 5,...,40.76580,Rating 5 out of 5,-73.95812,$62,5 Reviews\r\nAccuracy\r\nCommunication\r\nClea...,NaN,Bedroom 1\r\n1 single bed,Samet is a Superhost,Single Bedroom-Upper East Side-Central Park,Rating 4 out of 5
2,2,Rating 5 out of 5,"['Wifi', 'Essentials', 'Heating', 'Air conditi...",1 shared bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.75972,Rating 4.5 out of 5,-74.03827,$44,83 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,Bedroom 1\r\n1 queen bed,Rebecca is a Superhost,Quiet room for sleeping - 15 min from Times Sq...,Rating 5 out of 5
3,3,Rating 5 out of 5,"['Wifi', 'Iron', 'Laptop friendly workspace', ...",2 shared baths,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.81386,Rating 5 out of 5,-73.95936,$78,32 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,Bedroom 1\r\n1 queen bed,James is a Superhost,"Cozy room C in upper west side NY, Columbia",Rating 5 out of 5
4,4,Rating 5 out of 5,"['Wifi', 'Washer', 'Dryer', 'Iron', 'Laptop fr...",1.5 shared baths,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.69284,Rating 4.5 out of 5,-73.94418,$80,28 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,NaN,Cat is a Superhost,Cozy in Bedstuy,Rating 5 out of 5

## Bangkok

In [6]:
BangkokData = read_csvfile(Bangkok_CSV)
BangkokData.head()

,CheckIn,CheckOut,Has_Weekend,Title,Price,Super_host,Latitude,Longitude,EntireHomeVsRoom,Bedrooms_no,...,Sleeping_engagment,Amenities,Accuracy_stars,Communication_stars,Cleanliness_stars,Location_stars,CheckIn_stars,Value_stars,Reviewers_no,Review
0,2019-03-12 0:00,2019-03-17 0:00,True,Cosy room with 3 mins walk from MRT,$34,Thongjuta is a Superhost,13.78165,100.57453,ENTIRE APARTMENT,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Iron', 'Cable TV', 'Laptop friendly ...",Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,NaN,101 Reviews\nAccuracy\nCommunication\nCleanlin...
1,2019-03-12 0:00,2019-03-17 0:00,True,æ¼è°·å¸åºBTSæåè´¨å ¬å¯,$48,NaN,13.69750,100.60708,ENTIRE APARTMENT,1 bedroom,...,Bedroom 1\n1 double bed,"['Wifi', 'Indoor fireplace', 'Heating', 'Iron'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...
2,2019-03-12 0:00,2019-03-17 0:00,True,Modern apartment close to city near sky train(...,$27,Kiek is a Superhost,13.71252,100.46783,ENTIRE CONDOMINIUM,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Heating', 'Laptop friendly workspace...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,NaN,4 Reviews\nAccuracy\nCommunication\nCleanlines...
3,2019-03-12 0:00,2019-03-17 0:00,True,Outstanding Location in Heart of Bangkok 2mins...,$35,NaN,13.72032,100.49623,ENTIRE CONDOMINIUM,1 bedroom,...,Bedroom 1\n1 king bed,"['Wifi', 'Iron', 'Cable TV', 'Laptop friendly ...",Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,NaN,3 Reviews\nAccuracy\nCommunication\nCleanlines...
4,2019-03-12 0:00,2019-03-17 0:00,True,"5 Min walk MRT Phraram9, 1stop RodFai Train Ma...",$34,Patty is a Superhost,13.75738,100.56318,ENTIRE APARTMENT,NaN,...,"Common spaces\n2 queen beds, 1 floor mattress","['Wifi', 'Iron', 'Laptop friendly workspace', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nThis host has 1631 reviews f...

## Cairo

In [7]:
CairoData = read_csvfile(Cairo_CSV)
CairoData.head()

,CheckIn,CheckOut,Has_Weekend,Title,Price,Super_host,Latitude,Longitude,EntireHomeVsRoom,Bedrooms_no,...,Sleeping_engagment,Amenities,Accuracy_stars,Communication_stars,Cleanliness_stars,Location_stars,CheckIn_stars,Value_stars,Reviewers_no,Review
0,2019-03-14 0:00,2019-03-19 0:00,True,Dad Haus!x,$15,NaN,29.95961,31.25858,Private room in apartment,1 bedroom,...,Bedroom 1\n2 queen beds,"['Wifi', 'Indoor fireplace', 'Dryer', 'Laptop ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...
1,2019-03-14 0:00,2019-03-19 0:00,True,"Apartment in Rehab City, Cairo.",$12,NaN,30.05760,31.48779,Entire apartment,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Laptop friendly workspace', 'Washer'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nThis host has 11 reviews for...
2,2019-03-14 0:00,2019-03-19 0:00,True,Sunny and friendly apartment close to the airport,$22,NaN,30.06085,31.49540,Private room in apartment,1 bedroom,...,NaN,"['Wifi', 'Indoor fireplace', 'Cable TV', 'Lapt...",Rating 4 out of 5,Rating 5 out of 5,Rating 3.5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 4 out of 5,NaN,6 Reviews\nAccuracy\nCommunication\nCleanlines...
3,2019-03-14 0:00,2019-03-19 0:00,True,Cozy 2 persons budget room in luxurious/safe area,$19,NaN,30.06284,31.51743,Private room in condominium,1 bedroom,...,Bedroom 1\n2 single beds,"['Wifi', 'Laptop friendly workspace', 'Iron', ...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,NaN,4 Reviews\nAccuracy\nCommunication\nCleanlines...
4,2019-03-14 0:00,2019-03-19 0:00,True,Girls apartment - Sunny and calm apartment,$23,NaN,30.06263,31.48585,Private room in apartment,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Reviews\nAmelia\nDecember 2018\nThank you ve...

## Data Preprocessing

## NewYork

In [8]:
NewYorkData.shape

(3957, 23)

In [9]:
NewYorkData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3957 entries, 0 to 3956
Data columns (total 23 columns):
Unnamed: 0             3957 non-null int64
Accuracy_stars         3614 non-null object
Amenities              3957 non-null object
Bathrooms_num          3922 non-null object
Bedrooms_no            3348 non-null object
Beds_no                3895 non-null object
CheckIn                3957 non-null object
CheckIn_stars          3614 non-null object
CheckOut               3957 non-null object
Cleanliness_stars      3614 non-null object
Communication_stars    3614 non-null object
EntireHomeVsRoom       3957 non-null object
Has_Weekend            3957 non-null bool
Latitude               3957 non-null float64
Location_stars         3614 non-null object
Longitude              3957 non-null float64
Price                  3917 non-null object
Review                 3956 non-null object
Reviewers_no           0 non-null float64
Sleeping_engagment     3158 non-null object
Super_host             1947 non-null object
Title                  3957 non-null object
Value_stars            3614 non-null object
dtypes: bool(1), float64(3), int64(1), object(18)
memory usage: 684.1+ KB

We have a total of 23 features as shown above: 1 boolean (Has_Weekend), 3 numeric, float64(Latitude, Longitude, Reviewers_num), and the rest are saved as data objects. Let's go through them!!

So, we need to keep ONLY features that can add information to our analysis. Predictors with many null values can be considered redundant and ignore tham.

### Missing Data

In [10]:
NewYorkData.isnull().sum()

Unnamed: 0                0
Accuracy_stars          343
Amenities                 0
Bathrooms_num            35
Bedrooms_no             609
Beds_no                  62
CheckIn                   0
CheckIn_stars           343
CheckOut                  0
Cleanliness_stars       343
Communication_stars     343
EntireHomeVsRoom          0
Has_Weekend               0
Latitude                  0
Location_stars          343
Longitude                 0
Price                    40
Review                    1
Reviewers_no           3957
Sleeping_engagment      799
Super_host             2010
Title                     0
Value_stars             343
dtype: int64

In [11]:
## Features with large number of missing data
[column for column in NewYorkData.columns if NewYorkData[column].count() / len(NewYorkData) <= 0.7]

['Reviewers_no', 'Super_host']

So "Super_host" can have two possible values: Yes/True or No/False. Samples with null values are actually representing non super_host. On the other hand, having 3957 of null values for the Reviews_no says that there is something wrong with collecting data for this variable. So, it is better to exclude it.

Also, for the reviews' features, we see that we have the same number of null values for the Accuracy,CheckIn,Cleanliness,Communication, Location and Value Stars. This make sense since this number points to the homes with "no reviews yet".  We are going to have this invistigation for all features!

Let's classify the features: numeric, catogerical,etc.

So we have 23 variables six of them are categorical variables reflecting the clients' satisfaction in different aspects: 'Accuracy_stars','CheckIn_stars','Cleanliness_stars','Communication_stars','Location_stars','Value_stars'.

Other categorical variables such as 'EntireHomeVsRoom','Has_Weekend', and 'Sleeping_engagment'.

We also have dates: 'CheckIn','CheckOut'.

We have three numeric features: 'Price','Bathrooms_num', 'Bedrooms_no', 'Beds_no', 'Latitude','Longitude'.

rest:'Review', 'Title', and 'Super_host'

Let's tidy up!

In [12]:
NewYorkData.drop(['Unnamed: 0','Reviewers_no'],axis=1, inplace=True)

### Does it have a weekend?

We have originally one boolean variable "Has_Weekend". Let's check its levels!

In [13]:
NewYorkData['Has_Weekend'].unique()

array([ True])

So "Has_Weekend" doesn't say more than every time_period is a mix of weekdays and weekends. Thus, we can ignore it!

In [14]:
NewYorkData.drop('Has_Weekend',axis=1, inplace=True)

### Is Super Host?

In [15]:
NewYorkData.Super_host[0:10]

0    Brian is a Superhost Â·
1      Samet is a Superhost
2    Rebecca is a Superhost
3      James is a Superhost
4        Cat is a Superhost
5       Rick is a Superhost
6                       NaN
7    Shailah is a Superhost
8                       NaN
9       Obed is a Superhost
Name: Super_host, dtype: object

In [16]:
NewYorkData['Super_host'] = super_host(NewYorkData)

True = 1, False = 0

In [17]:
NewYorkData['Super_host'][0:10]

0    1
1    1
2    1
3    1
4    1
5    1
6    0
7    1
8    0
9    1
Name: Super_host, dtype: int64

## Numeric Data

### Price

In [18]:
print(type(NewYorkData['Price'][0]))
print(NewYorkData['Price'][0:10])

<class 'str'>
0    $244
1     $62
2     $44
3     $78
4     $80
5    $116
6     $96
7    $119
8     $73
9     $63
Name: Price, dtype: object

In [19]:
NewYorkData['Price'] = price_format(NewYorkData)

In [20]:
print(type(NewYorkData['Price'][0]))
print(NewYorkData['Price'][0:10])

<class 'numpy.float64'>
0    244.0
1     62.0
2     44.0
3     78.0
4     80.0
5    116.0
6     96.0
7    119.0
8     73.0
9     63.0
Name: Price, dtype: float64

### Number of Bathrooms

In [21]:
print(type(NewYorkData['Bathrooms_num'][0]))
print(NewYorkData['Bathrooms_num'].unique())

<class 'str'>
['1 bath' '1 shared bath' '2 shared baths' '1.5 shared baths'
 '1.5 private baths' '1 private bath' '2 private baths' nan
 '2.5 shared baths' '2 baths' '2.5 private baths' '3 shared baths'
 '4 shared baths' '0 baths' 'Half-bath' 'Shared half-bath' '1.5 baths'
 '2.5 baths' '3 baths' '0 shared baths' '3.5 shared baths']

In [146]:
NewYorkData['Bathrooms_num_int']= float(0)

In [147]:
NewYorkData['Bathrooms_num_int'] = bathrooms_int(NewYorkData)

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [150]:
for i in range(10):
    print(NewYorkData['Bathrooms_num'][i],NewYorkData['Bathrooms_num_int'][i])

1 bath 1.0
1 shared bath 1.0
1 shared bath 1.0
2 shared baths 2.0
1.5 shared baths 1.5
1 shared bath 1.0
1 shared bath 1.0
1 shared bath 1.0
1 shared bath 1.0
2 shared baths 2.0

### Shared vs. Private Bathroom

In [151]:
NewYorkData['shared_bathroom']= shared_bathroom(NewYorkData)

In [152]:
NewYorkData[['Bathrooms_num','shared_bathroom']][0:10]

      Bathrooms_num  shared_bathroom
0            1 bath            False
1     1 shared bath             True
2     1 shared bath             True
3    2 shared baths             True
4  1.5 shared baths             True
5     1 shared bath             True
6     1 shared bath             True
7     1 shared bath             True
8     1 shared bath             True
9    2 shared baths             True

### Number of Bedrooms

In [23]:
print(type(NewYorkData['Bedrooms_no'][0]))
print(NewYorkData['Bedrooms_no'].unique())

<class 'str'>
['1 bedroom' 'Super cute 1 bedroom apartment close to TimeSquare' nan
 'Large private bedroom 1 stop from Manhattan'
 '1 large bedroom HARLEM/NYC/terrace/'
 'Cozy tiny bedroom w/large living-room & kitchen.' '2 bedrooms'
 'Beautiful bedroom close to NYC' '3 bedrooms'
 'Spacious 3 bedroom apartment in WILLIAMSBURG'
 'Urban Farmers bedroom complete with fort' '4 bedrooms'
 'Cozy bedroom in townhouse with backyard in LIC'
 'Convenient Private bedroom 10 MIN FROM NYC'
 'Cozy bedroom with balcony. 25min TimeSquare'
 'Sunny, Clean, Nice bedroom available in Bushwick'
 'Large bedroom/Heart of Brooklyn'
 'Private bedroom in the Upper West Side, Manhattan'
 'Large queen size bedroom in huge loft apt'
 'Nice bedroom in east village apartment'
 'Very large and comfortable Manhattan one bedroom.'
 'Oasis bedroom for solo travelers' 'Big bedroom with queen size Bed'
 'Cozy bedroom by Yankee Stadium'
 'Private bedroom&bathroom in the heart of Manhattan'
 'Huge private bedroom for quiet sleep in Manhattan!'
 'A sunny healthy big bedroom'
 'Beautiful bedroom in PERFECT Brooklyn location!'
 'Large one bedroom in historic Clinton Hill'
 'Stunning Penthouse 2 bedrooms full city view'
 '(âââââ) New ultra-modern 1 bedroom apartment'
 'Modern, Park Slope, entire one-bedroom apartment'
 'Art Large bedroom Brownstone for 1 or 2 persons'
 'Amazing large studio with King Size bed in the heart of Manhattan. This apartment is bigger than some one bedroom apartments in the city! It is a large open layout very comfortable for 2 people.'
 'Spacious UES 1 bedroom apartment' 'Cozy One bedroom apartment'
 "Massiel's view 1 bedroom studio with a sofa bed"
 'Gorgeous, charming upper east side one bedroom'
 'Apartment has 15 ft ceilings, loft bedroom, Cinema, wifi, Netflix, Fully equipped Kitchen, laundry in building and central to the best restaurants and bars New York has to offer.'
 'Came to NYC for the first time with my best friend and so happy we chose to stay at Haruâs place! It was a very tiny bedroom in a co-ed living space type building, but we were hardly in the room so it didnât bother us at all. There was a lock on the door so we felt safe. Thereâ¦Read more'
 'Light, space and view in Bronx private bedroom.'
 'Private master bedroom next to Central Park & CU'
 'Peaceful one bedroom, professionally decorated apartment in the heart of the East Village. With close proximity to NYC transit, this is a cozy place to retreat on a visit to NYC, while having easy access to the entire city.'
 'cozy two bedroom apt by central park'
 '2 bedroom flat in Greenwich Village New York'
 'Comfortable one bedroom with patio'
 'Private bedroom in a loft apartment (Williamsburg)'
 '1 bedroom with 3 beds in the heart of Times Square'
 'Lovely 2-bedroom 1bath in Chinatown & Little Italy'
 'Sunny with 2 large bedrooms' 'Amazing 3 bedroom in Williamsburg'
 '5 bedrooms' 'Lovely private bedroom in Manhattan'
 'âUnique two bedroom on 2nd Avenueâ'
 'Sunny, spacious 1-bedroom in Upper Manhattan'
 'The place is in a great neighbourhood to have as a central location in NYC. Communication was excellent with Paul and it was easy to access. That said, the place is very tiny and has almost no usable space. The "loft" bedroom has about 28" of clearance and we slept on a futonâ¦Read more'
 'Step-free access to the bedroom'
 'Charming 1 bedroom apt steps away from subway'
 'Beautiful two bedroom apartment in Manhattan NYC'
 'One bedroom railroad style'
 'Cozy bedroom, convenient, Woodside, 7 train'
 'Light and airy 2 bedroom apartment.'
 'SÃ¶derlÃ¤ge - 3 bedrooms in Williamsburg, Brooklyn'
 'Prime Williamsburg Large bedroom for 1or2 people'
 'Private 1 bedroom suite with backyard access'
 'Spacious, artistic 1-bedroom near The Cloisters!'
 'Sunny and Sweet 2 bedroom in LES' 'Big apartment, comfy - calm bedroom'
 'Beautiful 3 bedroom loft Greenpoint/Williamsburg!'
 'gorgeous 2 bedroom loft!'
 "Our time spent in Alex's apartment in Chelsea was very enjoyable. Alex was a friendly host who responded to our needs quickly and cheerfully. The one thing that any future guests should know is that because of the loft bedroom, the head room in the entrance and kitchen is veryâ¦Read more"
 'XL Private 3 bedroom Full floor E. Village Apt!'
 'Prospect Park 3 bedroom, Sleeps 8'
 "Times Square/ Hell's Kitchen HUGE 1 bedroom Apt"
 'The studio is located on the 6th floor which is the top floor of an old industrial building in downtown New York City. With rare high 11.5 ft. ceilings, bright western exposure, oversized window with expansive views. You can watch the clouds roll in from the west and view the construction of the new Freedom Tower. A rare view in NYC. located in Manhattanâs lower east side the cultural hubub of the city. Chinatown offers a variety of authentic cuisine, out door markets and fun specialty shops. If your an early riser in the morning the locals practice tai chi in the nearby park; wether your interested in participating or just a spectator. Historically, the oldest synagogue is right down the block along with the building that George Gershwin was raised. The tenement museum is just a few blocks east along with the growing, ever changing lower east side hip gallery scene. There you will discover some of the best new restaurants and cafes as well as bars and night life. There are many grocery options too, A new Whole Foods is a few blocks away. We are just a short walk to Little Italy, Soho, or Tribeca or hop on any train within walking distance to get you to uptown east or west sides. Layout with loft bedroom area. A strong oak library ladder makes for safe easy access to the loft. There is also a couch/day bed in main area which can be used as a second sleeping arrangement. You will have plenty of blankets and pillows, all cotton sheets and all the fluffy towels you can possible need. Recently renovated bathroom and kitchen, all new appliances, marble and tile shower. It us clutter free. You will find a few tools about, but be assured nothing will be in your way. There is closet and storage space. The kitchen is fully equipped with pots, pans and utensils. There are umbrellas, hair dryers, an iron and board to use for your convenience, Wi Fi and HD TV ! I live down the hall so you have the luxury of contacting me if you need anything. I have received packages and lost luggage, or I am here for quick directions and advice. On the other had I assure you total privacy, We may never cross paths. I welcome you to Check out my reviews. Everyone who visits is very happy. Its an amazing, stylish and comfy spot. A great pied-a-terres in lower Manhattan.'
 'Cozy 1 bedroom/ Minutes from NY'
 '1 bedroom Apt 1 minute from the subway!'
 'Sunny, private bedroom, bathroom in Red Hook Bklyn'
 '3 bedroom Downtown Manhattan, NYC, Elevator, Quiet'
 'cool three bedroom on 111th street' 'Cozy 1 bedroom/ Minutes from NYC'
 'Lovely 3 bedroom Townhouse in BK Historic District'
 'Large one bedroom!!' 'Two bedroom apartment in Manhattan!'
 'Amazing Midtown 2bedrooms by United Nation!!' '6 bedrooms'
 'Bright & Cozy 4 bedroom 2 bath in the East Village'
 'New 1 bedroom renovated on a brownstone' 'Awesome Chelsea 1 bedroom'
 'Sunny bedroom with backyard (L Jefferson)' 'One bedroom apartment'
 'Cozy Astoria bedroom 20 min from midtown' 'Nice bedroom'
 "Cozy bedroom in Artist's Apartment-Atelier"
 'Comfortable bedroom in heart of Bushwick'
 'Peaceful bedroom in Brooklyn Duplex' 'Private bedroom in Manhattan NYC'
 'Large private bedroom in West Soho/West Village'
 'Great one bedroom near Central Park and Columbus'
 'Huge bedroom on the River' 'Cozy bedroom in Bushwick'
 'Cozy & Elegant 1 bedroom'
 'COZY ZEN 1 bedroom, top of CENTRAL PARK! safe :)'
 'Private bedroom, with a private bathroom.'
 'Luxury bedroom in a Cozy, Relaxed NYC Atmosphere!'
 'Spacious 1 bedroom in Bed Stuy Brooklyn'
 'Comfortable and reasonable price bedroom'
 'One bedroom Midtown East Quiet Sanctuary'
 'Bright bedroom close to NYC- Breakfast included! 2'
 '***Entire 1 bedroom apartment in midtown east***'
 'The apartment is a well sized one bedroom apartment located in downtown Newark. I will be sleeping in the BR. The guest bed is placed studio style opposite the living room. Overall, the space is very comfortable, clean, organized, and enjoyable to be in. It is also extremely close to New York City. 10 min walk, 5 minute uber to Path& a 25 minute train ride.'
 'Charming 1 bedroom on the water!'
 'a beautiful cozy one bedroom on a perk in Crown Heights, with an awesome workspace and piano overlooking the park. the bedroom equipped with a high-level screen and all apartment equipped with an excellent sound system and high-speed WiFi. small fully equipped kitchen. the app located three stops from the Brooklyn Museum - the Botanical Garden- and Prospect Park. a lot of traditional and trendy cafe and places to eat or have a drink.'
 'The place was nice but would only recommend for a short stay, the only negative comment I can make is the security of the place, the lock to our bedroom door was held together by a piece of paper and the door frame didnât meet the door, along with this the front door to theâ¦Read more'
 'New 1 bedroom with pool 10 min from Manhattan'
 'Chic & Cozy 1 bedroom Brooklyn Ny'
 '2 bedrooms and queen sofa bed, Close to Manhattan'
 'Private 1-bedroom Apartment in the Lombardy'
 'BEDFORD AVENUE - cosy, bright, private bedroom'
 'Large 1 bedroom and private bath in Astoria'
 'Great 1 bedroom apartment in Manhattan'
 'Spacious 1 bedroom in loft-style building'
 'Private bedroom with great location'
 'Unique 2 bedroom apt in the center of Williamsburg'
 'Cozy two bedroom apartment in the Upper East Side'
 'Bright 1 bedroom apartment in the Village'
 'Best of SOHO Gorgeous 2 bedroom' 'Cozy, 1 bedroom Brownstone Apt'
 'Beautiful 2-bedroom Apt near Times Square'
 'Modem 2 bedroom in Times sq for 5ppl'
 'Large spacious two bedroom close to Manhattan']

### Number of Beds

In [24]:
print(type(NewYorkData['Beds_no'][0]))
print(NewYorkData['Beds_no'].unique())

<class 'str'>
['1 bed' '0 beds' 'Obed' '2 beds' 'PRIVATE ROOM IN BED AND BREAKFAST'
 '3 beds' nan '5 beds' '4 beds' '8 beds'
 'SHARED ROOM IN BED AND BREAKFAST' '6 beds' 'ENTIRE BED AND BREAKFAST']

In [25]:
NewYorkData['Beds_int'] = float(0)

In [26]:
NewYorkData['Beds_int'] = beds_int(NewYorkData)

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:29: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:27: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:25: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:23: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
for i in range(10):
    print(NewYorkData['Beds_no'][i],NewYorkData['Beds_int'][i])

1 bed 1.0
1 bed 1.0
1 bed 1.0
1 bed 1.0
1 bed 1.0
1 bed 1.0
1 bed 1.0
0 beds 0.0
1 bed 1.0
Obed 0.0

### Latitude

In [28]:
print(type(NewYorkData['Latitude'][0]))
print(NewYorkData['Latitude'].unique())

<class 'numpy.float64'>
[40.73321 40.7658  40.75972 ... 40.77264 40.76406 40.73354]

### Longitude

In [29]:
print(type(NewYorkData['Longitude'][0]))
print(NewYorkData['Longitude'].unique())

<class 'numpy.float64'>
[-74.00242 -73.95812 -74.03827 ... -74.03762 -74.02755 -73.90769]

Thanks god! we have Latitude and Longitude ready to go!

### Bangkok

In [30]:
BangkokData.columns

Index(['CheckIn', 'CheckOut', 'Has_Weekend', 'Title', 'Price', 'Super_host',
       'Latitude', 'Longitude', 'EntireHomeVsRoom', 'Bedrooms_no', 'Beds_no',
       'Bathrooms_num', 'Sleeping_engagment', 'Amenities', 'Accuracy_stars',
       'Communication_stars', 'Cleanliness_stars', 'Location_stars',
       'CheckIn_stars', 'Value_stars', 'Reviewers_no', 'Review'],
      dtype='object')

### Does it have a weekend?

In [31]:
BangkokData['Has_Weekend'].unique()

array([ True])

In [32]:
BangkokData.drop(['Has_Weekend','Reviewers_no'],axis=1, inplace=True)

### Is Super Host?

In [33]:
BangkokData.Super_host[0:10]

0     Thongjuta is a Superhost
1                          NaN
2          Kiek is a Superhost
3                          NaN
4         Patty is a Superhost
5         Nukul is a Superhost
6                          NaN
7                          NaN
8                          NaN
9    Kinifrog is a Superhost Â·
Name: Super_host, dtype: object

In [34]:
BangkokData['Super_host'] = super_host(BangkokData)

In [35]:
BangkokData.Super_host[0:10]

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    0
8    0
9    1
Name: Super_host, dtype: int64

### Price

In [36]:
BangkokData.Price[0:10]

0    $34
1    $48
2    $27
3    $35
4    $34
5    $23
6    $27
7    $51
8    $38
9    $36
Name: Price, dtype: object

In [37]:
BangkokData['Price'] = price_format(BangkokData)

In [38]:
print(type(BangkokData['Price'][0]))
print(BangkokData['Price'][0:10])

<class 'numpy.float64'>
0    34.0
1    48.0
2    27.0
3    35.0
4    34.0
5    23.0
6    27.0
7    51.0
8    38.0
9    36.0
Name: Price, dtype: float64

### Number of Bathrooms

In [118]:
print(type(BangkokData['Bathrooms_num'][0]))
print(BangkokData['Bathrooms_num'].unique())

<class 'str'>
['1 bath' '1 private bath' '2 baths' '1.5 baths' '0 baths' '1 shared bath'
 '2 shared baths' '4 shared baths' '1.5 private baths' '8 shared baths'
 '1.5 shared baths' '3 baths' '4 baths' '2.5 baths' '3.5 baths' nan
 '4.5 baths'
 'Awesome place! Laundry service was available and affordable, a well equipped kitchen was provided, and the bathrooms and rooms were clean.'
 '6 shared baths' '4.5 shared baths']

In [119]:
BangkokData['Bathrooms_num_int']= float(0)

In [124]:
BangkokData[BangkokData['Bathrooms_num']== 'Awesome place! Laundry service was available and affordable, a well equipped kitchen was provided, and the bathrooms and rooms were clean.']

,CheckIn,CheckOut,Title,Price,Super_host,Latitude,Longitude,EntireHomeVsRoom,Bedrooms_no,Beds_no,...,Sleeping_engagment,Amenities,Accuracy_stars,Communication_stars,Cleanliness_stars,Location_stars,CheckIn_stars,Value_stars,Review,Bathrooms_num_int
4028,2019-09-10 0:00,2019-09-15 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
4330,2019-09-24 0:00,2019-09-29 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
4609,2019-10-08 0:00,2019-10-13 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
4919,2019-10-22 0:00,2019-10-27 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
5202,2019-11-05 0:00,2019-11-10 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
5207,2019-11-05 0:00,2019-11-10 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
5519,2019-11-19 0:00,2019-11-24 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
5786,2019-12-03 0:00,2019-12-08 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
6079,2019-12-17 0:00,2019-12-22 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,SHARED ROOM IN HOSTEL,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
6338,2019-12-31 0:00,2020-01-05 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,NaN,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
6697,2020-01-14 0:00,2020-01-19 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,NaN,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
7296,2020-02-11 0:00,2020-02-16 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,NaN,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0
7604,2020-02-25 0:00,2020-03-01 0:00,Naratel Hostel Bangkok(Bunkbed in 6 bed MixedD...,13.0,1,13.728,100.527,NaN,1 bedroom,NaN,...,Bedroom 1\n3 bunk beds,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,90 Reviews\nAccuracy\nCommunication\nCleanline...,0.0

By looking at the data, I noticed that this sample representing shared room in hostle, and they did not provide any information about the number of bathrooms. For simplicity, I will assume that we have only "1 shared bathroom"!

In [125]:
for i in range(len(BangkokData)): 
    if(BangkokData['Bathrooms_num'][i]== 'Awesome place! Laundry service was available and affordable, a well equipped kitchen was provided, and the bathrooms and rooms were clean.'):
        BangkokData['Bathrooms_num'][i]= '1 shared bath'

C:\Users\KBrig\AnacondaNada\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [126]:
print(BangkokData['Bathrooms_num'].unique())

['1 bath' '1 private bath' '2 baths' '1.5 baths' '0 baths' '1 shared bath'
 '2 shared baths' '4 shared baths' '1.5 private baths' '8 shared baths'
 '1.5 shared baths' '3 baths' '4 baths' '2.5 baths' '3.5 baths' nan
 '4.5 baths' '6 shared baths' '4.5 shared baths']

In [127]:
BangkokData['Bathrooms_num_int'] = bathrooms_int(BangkokData)

In [148]:
for i in range(10):
    print(BangkokData['Bathrooms_num'][i],BangkokData['Bathrooms_num_int'][i])

1 bath 1.0
1 bath 1.0
1 bath 1.0
1 bath 1.0
1 bath 1.0
1 bath 1.0
1 private bath 1.0
1 bath 1.0
1 bath 1.0
1 bath 1.0

### Shared vs. Private Bathroom

In [153]:
BangkokData['shared_bathroom']= shared_bathroom(BangkokData)

In [156]:
BangkokData[['Bathrooms_num','shared_bathroom']][0:10]

    Bathrooms_num  shared_bathroom
0          1 bath            False
1          1 bath            False
2          1 bath            False
3          1 bath            False
4          1 bath            False
5          1 bath            False
6  1 private bath            False
7          1 bath            False
8          1 bath            False
9          1 bath            False

### Number of Bedrooms

In [53]:
print(type(BangkokData['Bedrooms_no'][0]))
print(BangkokData['Bedrooms_no'].unique())

<class 'str'>
['1 bedroom' nan
 'Studio accommodation with nice facilities is yours. Facilities are as follows: One king bedroom 2-3 walking distance to Thong Lo Station station'
 'We were very happy when we first booked with Jackrit as the condo had what we were looking for. However, the toilet was an utter disappointment. It had this strong, unbearable odor that permeated through to the bedroom. Even though Jackrit had someone look at it, sadly, it didâ¦Read more'
 'G2015 Single bedroom E1 at Sukhumvit soi64.near sky trian (BTS) Punnawithi station.Room size 26sqm.Have 1 kitchen,1 bathroom and 1 balcony.'
 "Its a nice condo about 12 mins walk to the ON NUT BTS, the condo is on the 8th top floor with good views on BKK city and the pool / condo courtyard,I stayed in another condo after this and whist the other was a one bedroom unit instead of a studio Ho's place and support wasâ¦Read more"
 '2 bedrooms' 'New & modern one-bedroom suite near BTS Phyathai'
 'Clean Cozy Condo 1bedroom BTS bangna Bitec 10TB66'
 'two bedroom apartment at metropark' 'Right next to BTS 1 bedroom condo'
 'Wide doorway to the bedroom'
 'The entire two bedroom apartment near skytrain'
 'Cozy Big bedroom, near BTS Punnawithi'
 'Studio accommodation with nice facilities is yours. Facilities are as follows: One King bedroom 2-3 walking distance to Thong Lo Station station'
 'Modern Full equiped 1 bedroom Onnut Sukhumvit 77'
 'Step to BTS-Free WIFI-Rooftop pool-Comfy bedroom'
 'It is a has One King size bedroom and Living room,air conditioner, small kitchen, bathroom, free WiFi, refrigerator, microwave, TV, a rooftop Jacuzzi, open-air Japanese style bath, shared fitness, parking (1day 200B) and 24-hour security. 2-3 minutes walking distance to BTS Thonglor station. There are street food shops around the studio.'
 'One King bedroom and Sofa bed accommodation has an air conditioner, free WiFi, refrigerator, microwave, TV, Cable TV'
 'The Zen bedroom will alter your lifestyle, put your mind at ease and turn every moment in the bedroom into one of rejuvenation, relaxation and introspection. A/C 5" bedroom studio (34m2), 7th fl Warm Shower Internet/cableTV River & Ferris wheel view Pool 24h security, laundry, restaurant BTS and Hotel shuttle boat Vegetarian restaurant, Pizza, Starbuck and Asiatique Night market in walking distance'
 '1Min to BTS/1bedroom/private bathroom/Sukumvit Rd.'
 'Big bedroom near BTS Punnawithi, Le crique'
 'BKK City overlooks G Land Tower from bedroom ,MRT.'
 '1 bedroom condo with all facilities in Bangkok'
 'Spacious & modern 1 bedroom unit, Asoke location.'
 '1 bedroom in luxury community near On nut BTS' '3 bedrooms'
 'Top location Large luxury One bedroom Apt. 6-2'
 'Cozy 2 bedrooms city/pool view with 2 balconies'
 '2 bedroom in luxury community near On nut BTS' '4 bedrooms'
 'Step-free access to the bedroom'
 'Modern 1 bedroom condo-2 mins frm BTS Wongwian Yai'
 '(T3) 2 bedrooms 4-6 guests+kitchen 1min to BTS'
 'A fully furnished one bedroom apartment (34.5 Sq.m) with high speed WIFI'
 '(T4) 2 bedrooms 4-6 guests+kitchen 1min to BTS' '6 bedrooms'
 'Poolside private 1 bedroom condo' '5 bedrooms'
 '360Â°view2bedrooms63sqLuxuryCondo/Pool&GymBTS:OnNut'
 'k Cozy one bedroom +BTS +MRT ä¸­ææå¡01'
 'â â¼Sky bedroom with a smooth life viewâ¼â'
 'Luxury two bedrooms /Subway/Airport Rail Link/RCA'
 'The Duplex, 4-bedrooms : 3 mins to Sutthisan MRT'
 'Cozy 2bedrooms Silom+BTS saladaeng+homey+ä¸­æé(S6)'
 'The Library, 3-bedrooms : 3 mins to Sutthisan MRT']

### Number of Beds

In [39]:
print(type(BangkokData['Beds_no'][0]))
print(BangkokData['Beds_no'].unique())

<class 'str'>
['1 bed' '2 beds' '3 beds' nan '4 beds' '0 beds'
 'PRIVATE ROOM IN BED AND BREAKFAST' '5 beds' '6 beds' '7 beds' '8 beds'
 'Private room in bed and breakfast']

In [40]:
BangkokData['Beds_int'] = float(0)

In [41]:
BangkokData['Beds_int']= beds_int(BangkokData)

In [42]:
for i in range(10):
    print(BangkokData['Beds_no'][i],BangkokData['Beds_int'][i])

1 bed 1.0
1 bed 1.0
2 beds 2.0
1 bed 1.0
3 beds 3.0
3 beds 3.0
1 bed 1.0
1 bed 1.0
1 bed 1.0
1 bed 1.0

### Latitude

In [191]:
print(type(BangkokData['Latitude'][0]))

<class 'numpy.float64'>

### Longitude

In [192]:
print(type(BangkokData['Longitude'][0]))

<class 'numpy.float64'>

# Cairo

In [166]:
CairoData.columns

Index(['CheckIn', 'CheckOut', 'Has_Weekend', 'Title', 'Price', 'Super_host',
       'Latitude', 'Longitude', 'EntireHomeVsRoom', 'Bedrooms_no', 'Beds_no',
       'Bathrooms_num', 'Sleeping_engagment', 'Amenities', 'Accuracy_stars',
       'Communication_stars', 'Cleanliness_stars', 'Location_stars',
       'CheckIn_stars', 'Value_stars', 'Reviewers_no', 'Review'],
      dtype='object')

### Does it have a weekend?

In [167]:
CairoData['Has_Weekend'].unique()

array([ True])

In [168]:
CairoData.drop(['Has_Weekend','Reviewers_no'],axis=1, inplace=True)

In [169]:
CairoData.columns

Index(['CheckIn', 'CheckOut', 'Title', 'Price', 'Super_host', 'Latitude',
       'Longitude', 'EntireHomeVsRoom', 'Bedrooms_no', 'Beds_no',
       'Bathrooms_num', 'Sleeping_engagment', 'Amenities', 'Accuracy_stars',
       'Communication_stars', 'Cleanliness_stars', 'Location_stars',
       'CheckIn_stars', 'Value_stars', 'Review'],
      dtype='object')

### Is Super Host?

In [170]:
CairoData.Super_host[0:10]

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7     Bassem is a Superhost
8                       NaN
9    Mohamed is a Superhost
Name: Super_host, dtype: object

In [171]:
CairoData['Super_host'] = super_host(CairoData)

In [172]:
CairoData.Super_host[0:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    1
8    0
9    1
Name: Super_host, dtype: int64

### Price

In [173]:
CairoData['Price'] = price_format(CairoData)

In [174]:
print(type(CairoData['Price'][0]))
print(CairoData['Price'][0:10])

<class 'numpy.float64'>
0    15.0
1    12.0
2    22.0
3    19.0
4    23.0
5    25.0
6    40.0
7    37.0
8    65.0
9    11.0
Name: Price, dtype: float64

### Number of Bathrooms

In [175]:
print(type(CairoData['Bathrooms_num'][0]))
print(CairoData['Bathrooms_num'].unique())

<class 'str'>
['2 shared baths' '1.5 baths' '1 shared bath' '1.5 private baths'
 '1 private bath' '1 bath' '2 baths' '3 baths' '12 private baths'
 '8 private baths' '1.5 shared baths' '2.5 baths' nan '4 baths'
 '2 private baths' '0 shared baths' '3 private baths' '3 shared baths'
 '10 private baths' '5 private baths' '6 baths' '4 private baths'
 '3.5 baths' '4 shared baths' '25 private baths' '20 private baths']

In [176]:
CairoData['Bathrooms_num_int']= float(0)

In [179]:
CairoData['Bathrooms_num_int']= bathrooms_int(CairoData)

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [180]:
for i in range(10):
    print(CairoData['Bathrooms_num'][i],CairoData['Bathrooms_num_int'][i])

2 shared baths 2.0
1.5 baths 1.5
1 shared bath 1.0
1.5 private baths 1.5
1 shared bath 1.0
1 private bath 1.0
1 private bath 1.0
1.5 baths 1.5
1 bath 1.0
1 shared bath 1.0

### Shared vs. Private Bathrooms

In [181]:
CairoData['shared_bathroom']= shared_bathroom(CairoData)

In [183]:
CairoData[['Bathrooms_num','shared_bathroom']][0:10]

       Bathrooms_num  shared_bathroom
0     2 shared baths             True
1          1.5 baths            False
2      1 shared bath             True
3  1.5 private baths            False
4      1 shared bath             True
5     1 private bath            False
6     1 private bath            False
7          1.5 baths            False
8             1 bath            False
9      1 shared bath             True

### Number of Bedrooms

In [184]:
print(type(CairoData['Bedrooms_no'][0]))
print(CairoData['Bedrooms_no'].unique())
print(CairoData['Bedrooms_no'][0:5])

<class 'str'>
['1 bedroom' '2 bedrooms'
 'This fully furnished studio garden apartment includes 1 bedroom, 2 reception units, 1 bathroom..'
 'Expat apartment - Clean and cosy bedroom' nan
 'Cairo Zahraa El Maadi, one bedroom.'
 'Paradise at the Point! This luxurious 1 bedroom, 1 bathroom bath modern-built estate on the Open view is a dream home in a high-end community.'
 '20 bedrooms' '3 bedrooms'
 'Double bedroom in Paris Hotel Breakfast included .'
 'Cozy queen bedroom, perfect location.'
 'Cozy,clean apartment located in Maadi, one bedroom'
 '2 Single bedroom in Paris Hotel Breakfast included'
 'Apartment(3bedroom) Eltagamo new cairo - 4' '4 bedrooms'
 'Private bedroom in a cosy apartment' '10 bedrooms'
 'Apartment(2bedroom) Eltagamo new cairo'
 'One bedroom with garden in The Village, New Cairo.' '6 bedrooms'
 '15 bedrooms' 'Apartment(3bedroom) Eltagamo new cairo - 5'
 'Apartment(3bedroom) Eltagamo new cairo - 3'
 'Princess Apartment 3 bedrooms' 'Beautiful 2 bedrooms close to down town'
 'Charming 2 bedrooms apartment ,village, AUC, Cairo'
 'Luxurious fully furnished 3 bedroom appt in Maadi'
 'Three bedroom apartment degla maadi' '2 bedroom apartment in madinaty'
 'ââ¼Sunny bedroom in the heart of Cairoâ¼â'
 'Fancy 1 bedroom apartment Free pickup Near airport'
 'Guest bedroom, private bathroom,minibar & balcony'
 'Very nice bedroom in a center of the Cairo. 5 minutes from Egyptian museum and Downtown Cairo. Explore Cairo by walking I will be happy to show you city as viewed by locals and other hidden gems'
 '5 bedrooms' 'Modern apartment 2 bedrooms in Madinaty' '13 bedrooms'
 '9 bedrooms' 'Spacious 3 bedroom Apt, close to Metro & downtown'
 '1 bedroom apartment in a private villa w/ pool'
 'New modern 2-bedroom in Maadi Degla' '2 bedroom 3 big beds Apartment'
 '2 bedroom apartment, Maadi, Villa Belle Epoque'
 'Stylish 2 bedrooms Studio in Cairo Downtown'
 'Modern 1 bedroom apartment in The Village'
 'Fancy 2 bedroom apartment free airport pickup'
 'BOTH (2) comfortable DBL bedrooms supervalue Maadi'
 '3 bedroom apartment, in downtown Cairo.' '25 bedrooms'
 'Cozy bedroom with private bathroom at downtown'
 '2 bedrooms nice view car and driver(extra charge)'
 'Club paradisio 3 bedrooms' "Digla 3 bedroom's .nice & clean"
 'Serviced Two bedroom apartment at Violet Residence'
 '2-bedrooms Suite at The Village Compound'
 'Master bedroom at El Rehab City']
0    1 bedroom
1    1 bedroom
2    1 bedroom
3    1 bedroom
4    1 bedroom
Name: Bedrooms_no, dtype: object

### Number of Beds

In [43]:
print(type(CairoData['Beds_no'][0]))
print(CairoData['Beds_no'].unique())

<class 'str'>
['2 beds' '1 bed' '4 beds' nan 'Private room in bed and breakfast'
 '3 beds' '26 beds' '6 beds' '5 beds' '8 beds'
 'Stylish brand new fully furnished studio apartment with queen size bed and open plan kitchen. kitchen is fully equipped with all cutlery and crockery, washing machine, cooker, microwave, kettle, toaster. bed linen and towels are provided.'
 '16 beds' '50 beds' '37 beds' '7 beds' '10 beds' '18 beds' '30 beds']

In [47]:
CairoData[CairoData['Beds_no']== 'Stylish brand new fully furnished studio apartment with queen size bed and open plan kitchen. kitchen is fully equipped with all cutlery and crockery, washing machine, cooker, microwave, kettle, toaster. bed linen and towels are provided.']

,CheckIn,CheckOut,Has_Weekend,Title,Price,Super_host,Latitude,Longitude,EntireHomeVsRoom,Bedrooms_no,...,Amenities,Accuracy_stars,Communication_stars,Cleanliness_stars,Location_stars,CheckIn_stars,Value_stars,Reviewers_no,Review,Beds_int
70,2019-03-14 0:00,2019-03-19 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
557,2019-03-28 0:00,2019-04-02 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
896,2019-04-11 0:00,2019-04-16 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
902,2019-04-11 0:00,2019-04-16 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
1211,2019-04-25 0:00,2019-04-30 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
2102,2019-06-06 0:00,2019-06-11 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
2380,2019-06-20 0:00,2019-06-25 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
2681,2019-07-04 0:00,2019-07-09 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
3001,2019-07-18 0:00,2019-07-23 0:00,True,"fully furnished apt in the village palm hills,...",$63,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
3317,2019-08-01 0:00,2019-08-06 0:00,True,"fully furnished apt in the village palm hills,...",$69,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
3633,2019-08-15 0:00,2019-08-20 0:00,True,"fully furnished apt in the village palm hills,...",$70,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
3920,2019-08-29 0:00,2019-09-03 0:00,True,"fully furnished apt in the village palm hills,...",$71,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
4169,2019-09-12 0:00,2019-09-17 0:00,True,"fully furnished apt in the village palm hills,...",$77,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
4784,2019-10-10 0:00,2019-10-15 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
5095,2019-10-24 0:00,2019-10-29 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
5309,2019-11-07 0:00,2019-11-12 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
5614,2019-11-21 0:00,2019-11-26 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
5917,2019-12-05 0:00,2019-12-10 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
6212,2019-12-19 0:00,2019-12-24 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
6510,2020-01-02 0:00,2020-01-07 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
6816,2020-01-16 0:00,2020-01-21 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
7119,2020-01-30 0:00,2020-02-04 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
7423,2020-02-13 0:00,2020-02-18 0:00,True,"fully furnished apt in the village palm hills,...",$78,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0
7725,2020-02-27 0:00,2020-03-03 0:00,True,"fully furnished apt in the village palm hills,...",NaN,NaN,30.01949,31.50053,Entire apartment,1 bedroom,...,"['Wifi', 'Iron', 'Heating', 'Washer', 'TV', 'A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...,0.0

In [48]:
for i in range(len(BangkokData)): 
    if(CairoData['Beds_no'][i]== 'Stylish brand new fully furnished studio apartment with queen size bed and open plan kitchen. kitchen is fully equipped with all cutlery and crockery, washing machine, cooker, microwave, kettle, toaster. bed linen and towels are provided.'):
        CairoData['Beds_no'][i]= '1 bed'

C:\Users\KBrig\AnacondaNada\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
CairoData['Beds_int']= float(0)

In [50]:
CairoData['Beds_int']= beds_int(CairoData)

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:29: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:23: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:25: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [51]:
for i in range(10):
    print(CairoData['Beds_no'][i],CairoData['Beds_int'][i])

2 beds 2.0
1 bed 1.0
1 bed 1.0
2 beds 2.0
1 bed 1.0
1 bed 1.0
1 bed 1.0
2 beds 2.0
1 bed 1.0
1 bed 1.0

### Latitude

In [189]:
print(type(CairoData['Latitude'][0]))

<class 'numpy.float64'>

### Longitude

In [190]:
print(type(CairoData['Longitude'][0]))

<class 'numpy.float64'>

## Categorical Data

### NewYork

In [54]:
print(NewYorkData['Accuracy_stars'].unique())

['Rating 5 out of 5' 'Rating 4.5 out of 5' nan 'Rating 4 out of 5'
 'Rating 2.5 out of 5' 'Rating 3.5 out of 5']

In [22]:
type(NewYorkData['Accuracy_stars'][0])

str

In [23]:
t = num_of_stars(NewYorkData['Accuracy_stars'])

c:\users\kbrig\airbnbrepo\airbnb\bnb\data_processing\clean.py:45: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

AttributeError: 'float' object has no attribute 'split'

In [60]:
t.split(' ')[1]

'5'

### Bangkok

### Cairo

### Price Analysis

### NewYork

In [ ]:
AvgPrice_NY = group_by_date(NewYorkData)

In [ ]:
#reate a data object
price_data = go.Scatter(x=AvgPrice_NY.index,y=AvgPrice_NY.values)

#set up the plot layout
layout1 = go.Layout(title='NY_ Average Price Plot', xaxis=dict(title='CheckIn_Date'),yaxis=dict(title='Price'))

# create a figure and display it
fig1 = go.Figure(data=[price_data],layout=layout1)


#display the plot interactively
iplot(fig1)

### Bangkok

In [ ]:
AvgPrice_Bngkok = group_by_date(BangkokData) 
AvgPrice_Bngkok

In [ ]:
#reate a data object
price_data_Bngkok = go.Scatter(x=AvgPrice_Bngkok.index,y=AvgPrice_Bngkok.values)
#set up the plot layout
layout2 = go.Layout(title='Bangkok_ Average Price Plot', xaxis=dict(title='CheckIn_Date'),yaxis=dict(title='Price'))
# create a figure and display it
fig2 = go.Figure(data=[price_data_Bngkok],layout=layout2)
#display the plot interactively
iplot(fig2)

### Cairo

In [ ]:

AvgPrice_Cairo = group_by_date(CairoPrice)
AvgPrice_Cairo

In [ ]:
#reate a data object
price_data_Cairo = go.Scatter(x=AvgPrice_Cairo.index,y=AvgPrice_Cairo.values)

#set up the plot layout
layout3 = go.Layout(title='Cairo_ Average Price Plot', xaxis=dict(title='CheckIn_Date'),yaxis=dict(title='Price'))

# create a figure and display it
fig3 = go.Figure(data=[price_data_Cairo],layout=layout3)

#display the plot interactively
iplot(fig3)