In [1]:
# Standard data science libraries
import pandas as pd
import numpy as np
from pathlib import Path

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('bmh')

In [2]:
import plotly
# Authenticate with your account
plotly.tools.set_credentials_file(username='####',api_key='###')


import plotly.plotly as py
import plotly.graph_objs as go


# Offline mode
from plotly.offline import iplot
plotly.offline.init_notebook_mode(connected=True)

In [3]:
Data_dir = Path('C:/Users/KBrig/repos/AirBnB/data')
Data_dir

WindowsPath('C:/Users/KBrig/repos/AirBnB/data')

In [4]:
NewYork_CSV = Data_dir/'AirBnBNY.csv'
Bangkok_CSV = Data_dir/'AirBnbDataBangkok.csv'
Cairo_CSV = Data_dir/'AirBnbDataCairo.csv'

# NewYork

In [5]:
NewYorkData = pd.read_csv(NewYork_CSV)
NewYorkData.head(10)

,Unnamed: 0,Accuracy_stars,Amenities,Bathrooms_num,Bedrooms_no,Beds_no,CheckIn,CheckIn_stars,CheckOut,Cleanliness_stars,...,Latitude,Location_stars,Longitude,Price,Review,Reviewers_no,Sleeping_engagment,Super_host,Title,Value_stars
0,0,Rating 5 out of 5,"['Indoor fireplace', 'Wifi', 'Iron', 'Laptop f...",1 bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.73321,Rating 5 out of 5,-74.00242,$244,87 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,Bedroom 1\r\n1 queen bed,Brian is a Superhost ·,*Luxury 1 Bedrm Private Designer Home & Roofdeck*,Rating 4.5 out of 5
1,1,Rating 4.5 out of 5,"['Indoor fireplace', 'Wifi', 'Laptop friendly ...",1 shared bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 4.5 out of 5,2019-03-26 00:00:00,Rating 4 out of 5,...,40.76580,Rating 5 out of 5,-73.95812,$62,5 Reviews\r\nAccuracy\r\nCommunication\r\nClea...,NaN,Bedroom 1\r\n1 single bed,Samet is a Superhost,Single Bedroom-Upper East Side-Central Park,Rating 4 out of 5
2,2,Rating 5 out of 5,"['Wifi', 'Essentials', 'Heating', 'Air conditi...",1 shared bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.75972,Rating 4.5 out of 5,-74.03827,$44,83 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,Bedroom 1\r\n1 queen bed,Rebecca is a Superhost,Quiet room for sleeping - 15 min from Times Sq...,Rating 5 out of 5
3,3,Rating 5 out of 5,"['Wifi', 'Iron', 'Laptop friendly workspace', ...",2 shared baths,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.81386,Rating 5 out of 5,-73.95936,$78,32 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,Bedroom 1\r\n1 queen bed,James is a Superhost,"Cozy room C in upper west side NY, Columbia",Rating 5 out of 5
4,4,Rating 5 out of 5,"['Wifi', 'Washer', 'Dryer', 'Iron', 'Laptop fr...",1.5 shared baths,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.69284,Rating 4.5 out of 5,-73.94418,$80,28 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,NaN,Cat is a Superhost,Cozy in Bedstuy,Rating 5 out of 5
5,5,NaN,"['Wifi', 'Essentials', 'Heating', 'Air conditi...",1 shared bath,1 bedroom,1 bed,2019-03-21 00:00:00,NaN,2019-03-26 00:00:00,NaN,...,40.76829,NaN,-73.98298,$116,No reviews (yet)\r\nThis host has 42 reviews f...,NaN,Bedroom 1\r\n1 king bed,Rick is a Superhost,Large Bedroom with private sunroom Columbus Ci...,NaN
6,6,Rating 5 out of 5,"['Wifi', 'Washer', 'Dryer', 'Iron', 'Laptop fr...",1 shared bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.71941,Rating 5 out of 5,-74.00856,$96,8 Reviews\r\nAccuracy\r\nCommunication\r\nClea...,NaN,Bedroom 1\r\n1 queen bed,NaN,"Classic, yet Unconventional Tribeca NYC Extra ...",Rating 5 out of 5
7,7,Rating 5 out of 5,"['Wifi', 'Washer', 'Dryer', 'Iron', 'Laptop fr...",1 shared bath,1 bedroom,0 beds,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.78866,Rating 5 out of 5,-73.96908,$119,140 Reviews\r\nAccuracy\r\nCommunication\r\nCl...,NaN,NaN,Shailah is a Superhost,Location is Everything!,Rating 5 out of 5
8,8,Rating 4.5 out of 5,"['Wifi', 'Iron', 'Laptop friendly workspace', ...",1 shared bath,1 bedroom,1 bed,2019-03-21 00:00:00,Rating 4.5 out of 5,2019-03-26 00:00:00,Rating 3.5 out of 5,...,40.82264,Rating 4.5 out of 5,-73.94041,$73,570 Reviews\r\nAccuracy\r\nCommunication\r\nCl...,NaN,Bedroom 1\r\n1 double bed,NaN,Private Bedroom in Manhattan,Rating 4 out of 5
9,9,Rating 5 out of 5,"['Wifi', 'Iron', 'Laptop friendly workspace', ...",2 shared baths,1 bedroom,Obed,2019-03-21 00:00:00,Rating 5 out of 5,2019-03-26 00:00:00,Rating 5 out of 5,...,40.69101,Rating 5 out of 5,-73.97312,$63,19 Reviews\r\nAccuracy\r\nCommunication\r\nCle...,NaN,Bedroom 1\r\n1 double bed,Obed is a Superhost,"Sunny Room in Townhouse, Historic Brooklyn",Rating 5 out of 5

In [6]:
NewYorkData.columns

Index(['Unnamed: 0', 'Accuracy_stars', 'Amenities', 'Bathrooms_num',
       'Bedrooms_no', 'Beds_no', 'CheckIn', 'CheckIn_stars', 'CheckOut',
       'Cleanliness_stars', 'Communication_stars', 'EntireHomeVsRoom',
       'Has_Weekend', 'Latitude', 'Location_stars', 'Longitude', 'Price',
       'Review', 'Reviewers_no', 'Sleeping_engagment', 'Super_host', 'Title',
       'Value_stars'],
      dtype='object')

In [7]:
NewYorkData.drop(['Unnamed: 0','Has_Weekend','Reviewers_no'],axis=1, inplace=True)

In [8]:
print(NewYorkData['Price'][0])

$244

In [9]:
NewYorkData['Price'] = NewYorkData.Price.str.replace('$','').astype(float)

In [10]:
NewYorkData.columns

Index(['Accuracy_stars', 'Amenities', 'Bathrooms_num', 'Bedrooms_no',
       'Beds_no', 'CheckIn', 'CheckIn_stars', 'CheckOut', 'Cleanliness_stars',
       'Communication_stars', 'EntireHomeVsRoom', 'Latitude', 'Location_stars',
       'Longitude', 'Price', 'Review', 'Sleeping_engagment', 'Super_host',
       'Title', 'Value_stars'],
      dtype='object')

In [11]:
NewYorkPrice= NewYorkData[['CheckIn','CheckOut', 'Price']]
NewYorkPrice.head()

               CheckIn             CheckOut  Price
0  2019-03-21 00:00:00  2019-03-26 00:00:00  244.0
1  2019-03-21 00:00:00  2019-03-26 00:00:00   62.0
2  2019-03-21 00:00:00  2019-03-26 00:00:00   44.0
3  2019-03-21 00:00:00  2019-03-26 00:00:00   78.0
4  2019-03-21 00:00:00  2019-03-26 00:00:00   80.0

In [12]:
print(type(NewYorkPrice.Price[0]))

<class 'numpy.float64'>

In [13]:

AvgPrice_NY = pd.Series(data= NewYorkData.groupby('CheckIn')['Price'].mean())

In [14]:
AvgPrice_NY

CheckIn
2019-03-07 00:00:00     87.670659
2019-03-21 00:00:00    101.781690
2019-04-04 00:00:00    109.337931
2019-04-18 00:00:00     94.282051
2019-05-02 00:00:00    106.909774
2019-05-16 00:00:00    111.215190
2019-05-30 00:00:00    143.550336
2019-06-13 00:00:00    138.405594
2019-06-27 00:00:00    134.006757
2019-07-11 00:00:00    153.699346
2019-07-25 00:00:00    156.875000
2019-08-08 00:00:00    164.836735
2019-08-22 00:00:00    164.993333
2019-09-05 00:00:00    193.972414
2019-09-19 00:00:00    191.218543
2019-10-03 00:00:00    176.817073
2019-10-17 00:00:00    180.322581
2019-10-31 00:00:00    160.771812
2019-11-14 00:00:00    197.701220
2019-11-28 00:00:00    177.382166
2019-12-12 00:00:00    184.743243
2019-12-26 00:00:00    180.839161
2020-01-09 00:00:00    211.150000
2020-01-23 00:00:00    186.975000
2020-02-06 00:00:00    185.060403
2020-02-20 00:00:00    206.124224
Name: Price, dtype: float64

In [15]:
#reate a data object
price_data = go.Scatter(x=AvgPrice_NY.index,y=AvgPrice_NY.values)

In [16]:
price_data

Scatter({
    'x': array(['2019-03-07 00:00:00', '2019-03-21 00:00:00', '2019-04-04 00:00:00',
                '2019-04-18 00:00:00', '2019-05-02 00:00:00', '2019-05-16 00:00:00',
                '2019-05-30 00:00:00', '2019-06-13 00:00:00', '2019-06-27 00:00:00',
                '2019-07-11 00:00:00', '2019-07-25 00:00:00', '2019-08-08 00:00:00',
                '2019-08-22 00:00:00', '2019-09-05 00:00:00', '2019-09-19 00:00:00',
                '2019-10-03 00:00:00', '2019-10-17 00:00:00', '2019-10-31 00:00:00',
                '2019-11-14 00:00:00', '2019-11-28 00:00:00', '2019-12-12 00:00:00',
                '2019-12-26 00:00:00', '2020-01-09 00:00:00', '2020-01-23 00:00:00',
                '2020-02-06 00:00:00', '2020-02-20 00:00:00'], dtype=object),
    'y': array([ 87.67065868, 101.78169014, 109.33793103,  94.28205128, 106.90977444,
                111.21518987, 143.55033557, 138.40559441, 134.00675676, 153.69934641,
                156.875     , 164.83673469, 164.99333333, 193.97241379, 191.21854305,
                176.81707317, 180.32258065, 160.77181208, 197.70121951, 177.38216561,
                184.74324324, 180.83916084, 211.15      , 186.975     , 185.06040268,
                206.1242236 ])
})

In [17]:
#set up the plot layout
layout1 = go.Layout(title='NY_ Average Price Plot', xaxis=dict(title='CheckIn_Date'),yaxis=dict(title='Price'))

In [18]:
# create a figure and display it
fig1 = go.Figure(data=[price_data],layout=layout1)

In [19]:
#display the plot interactively
iplot(fig1)

# Bangkok

In [20]:
BangkokData = pd.read_csv(Bangkok_CSV)
BangkokData.head()

,CheckIn,CheckOut,Has_Weekend,Title,Price,Super_host,Latitude,Longitude,EntireHomeVsRoom,Bedrooms_no,...,Sleeping_engagment,Amenities,Accuracy_stars,Communication_stars,Cleanliness_stars,Location_stars,CheckIn_stars,Value_stars,Reviewers_no,Review
0,2019-03-12 0:00,2019-03-17 0:00,True,Cosy room with 3 mins walk from MRT,$34,Thongjuta is a Superhost,13.78165,100.57453,ENTIRE APARTMENT,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Iron', 'Cable TV', 'Laptop friendly ...",Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,NaN,101 Reviews\nAccuracy\nCommunication\nCleanlin...
1,2019-03-12 0:00,2019-03-17 0:00,True,曼谷市区BTS旁品质公寓,$48,NaN,13.69750,100.60708,ENTIRE APARTMENT,1 bedroom,...,Bedroom 1\n1 double bed,"['Wifi', 'Indoor fireplace', 'Heating', 'Iron'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...
2,2019-03-12 0:00,2019-03-17 0:00,True,Modern apartment close to city near sky train(...,$27,Kiek is a Superhost,13.71252,100.46783,ENTIRE CONDOMINIUM,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Heating', 'Laptop friendly workspace...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 4 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,NaN,4 Reviews\nAccuracy\nCommunication\nCleanlines...
3,2019-03-12 0:00,2019-03-17 0:00,True,Outstanding Location in Heart of Bangkok 2mins...,$35,NaN,13.72032,100.49623,ENTIRE CONDOMINIUM,1 bedroom,...,Bedroom 1\n1 king bed,"['Wifi', 'Iron', 'Cable TV', 'Laptop friendly ...",Rating 5 out of 5,Rating 5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,NaN,3 Reviews\nAccuracy\nCommunication\nCleanlines...
4,2019-03-12 0:00,2019-03-17 0:00,True,"5 Min walk MRT Phraram9, 1stop RodFai Train Ma...",$34,Patty is a Superhost,13.75738,100.56318,ENTIRE APARTMENT,NaN,...,"Common spaces\n2 queen beds, 1 floor mattress","['Wifi', 'Iron', 'Laptop friendly workspace', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nThis host has 1631 reviews f...

In [21]:
BangkokData.columns

Index(['CheckIn', 'CheckOut', 'Has_Weekend', 'Title', 'Price', 'Super_host',
       'Latitude', 'Longitude', 'EntireHomeVsRoom', 'Bedrooms_no', 'Beds_no',
       'Bathrooms_num', 'Sleeping_engagment', 'Amenities', 'Accuracy_stars',
       'Communication_stars', 'Cleanliness_stars', 'Location_stars',
       'CheckIn_stars', 'Value_stars', 'Reviewers_no', 'Review'],
      dtype='object')

In [22]:
BangkokData.drop(['Has_Weekend','Reviewers_no'],axis=1, inplace=True)

In [23]:
BangkokData['Price'] = BangkokData.Price.str.replace('$','').astype(float)

In [24]:
BangkokPrice= BangkokData[['CheckIn','CheckOut', 'Price']]
BangkokPrice.head()

           CheckIn         CheckOut  Price
0  2019-03-12 0:00  2019-03-17 0:00   34.0
1  2019-03-12 0:00  2019-03-17 0:00   48.0
2  2019-03-12 0:00  2019-03-17 0:00   27.0
3  2019-03-12 0:00  2019-03-17 0:00   35.0
4  2019-03-12 0:00  2019-03-17 0:00   34.0

In [25]:
print(type(BangkokPrice.Price[0]))

<class 'numpy.float64'>

In [26]:
AvgPrice_Bngkok = pd.Series(data= BangkokPrice.groupby('CheckIn')['Price'].mean())
AvgPrice_Bngkok

CheckIn
2019-03-12 0:00    42.583333
2019-03-26 0:00    45.189655
2019-04-09 0:00    47.530364
2019-04-23 0:00    49.318937
2019-05-07 0:00    52.146179
2019-05-21 0:00    52.023256
2019-06-04 0:00    51.149007
2019-06-18 0:00    53.211921
2019-07-02 0:00    55.560000
2019-07-16 0:00    54.655629
2019-07-30 0:00    54.623333
2019-08-13 0:00    55.504310
2019-08-27 0:00    58.299663
2019-09-10 0:00    58.641196
2019-09-24 0:00    60.361204
2019-10-08 0:00    58.500000
2019-10-22 0:00    62.610561
2019-11-05 0:00    63.245033
2019-11-19 0:00    64.033784
2019-12-03 0:00    61.969900
2019-12-17 0:00    59.062937
2019-12-31 0:00    59.680851
2020-01-14 0:00    63.746082
2020-01-28 0:00    62.046823
2020-02-11 0:00    63.733333
2020-02-25 0:00    62.990000
Name: Price, dtype: float64

In [27]:
#reate a data object
price_data_Bngkok = go.Scatter(x=AvgPrice_Bngkok.index,y=AvgPrice_Bngkok.values)
#set up the plot layout
layout2 = go.Layout(title='Bangkok_ Average Price Plot', xaxis=dict(title='CheckIn_Date'),yaxis=dict(title='Price'))
# create a figure and display it
fig2 = go.Figure(data=[price_data_Bngkok],layout=layout2)
#display the plot interactively
iplot(fig2)

# Cairo

In [28]:
CairoData = pd.read_csv(Cairo_CSV)
CairoData.head()

,CheckIn,CheckOut,Has_Weekend,Title,Price,Super_host,Latitude,Longitude,EntireHomeVsRoom,Bedrooms_no,...,Sleeping_engagment,Amenities,Accuracy_stars,Communication_stars,Cleanliness_stars,Location_stars,CheckIn_stars,Value_stars,Reviewers_no,Review
0,2019-03-14 0:00,2019-03-19 0:00,True,Dad Haus!x,$15,NaN,29.95961,31.25858,Private room in apartment,1 bedroom,...,Bedroom 1\n2 queen beds,"['Wifi', 'Indoor fireplace', 'Dryer', 'Laptop ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nBe one of the first guests t...
1,2019-03-14 0:00,2019-03-19 0:00,True,"Apartment in Rehab City, Cairo.",$12,NaN,30.05760,31.48779,Entire apartment,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Laptop friendly workspace', 'Washer'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,No reviews (yet)\nThis host has 11 reviews for...
2,2019-03-14 0:00,2019-03-19 0:00,True,Sunny and friendly apartment close to the airport,$22,NaN,30.06085,31.49540,Private room in apartment,1 bedroom,...,NaN,"['Wifi', 'Indoor fireplace', 'Cable TV', 'Lapt...",Rating 4 out of 5,Rating 5 out of 5,Rating 3.5 out of 5,Rating 4.5 out of 5,Rating 5 out of 5,Rating 4 out of 5,NaN,6 Reviews\nAccuracy\nCommunication\nCleanlines...
3,2019-03-14 0:00,2019-03-19 0:00,True,Cozy 2 persons budget room in luxurious/safe area,$19,NaN,30.06284,31.51743,Private room in condominium,1 bedroom,...,Bedroom 1\n2 single beds,"['Wifi', 'Laptop friendly workspace', 'Iron', ...",Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,Rating 5 out of 5,NaN,4 Reviews\nAccuracy\nCommunication\nCleanlines...
4,2019-03-14 0:00,2019-03-19 0:00,True,Girls apartment - Sunny and calm apartment,$23,NaN,30.06263,31.48585,Private room in apartment,1 bedroom,...,Bedroom 1\n1 queen bed,"['Wifi', 'Cable TV', 'Laptop friendly workspac...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Reviews\nAmelia\nDecember 2018\nThank you ve...

In [29]:
CairoData.columns

Index(['CheckIn', 'CheckOut', 'Has_Weekend', 'Title', 'Price', 'Super_host',
       'Latitude', 'Longitude', 'EntireHomeVsRoom', 'Bedrooms_no', 'Beds_no',
       'Bathrooms_num', 'Sleeping_engagment', 'Amenities', 'Accuracy_stars',
       'Communication_stars', 'Cleanliness_stars', 'Location_stars',
       'CheckIn_stars', 'Value_stars', 'Reviewers_no', 'Review'],
      dtype='object')

In [30]:
CairoData.drop(['Has_Weekend','Reviewers_no'],axis=1, inplace=True)

In [31]:
CairoData.columns

Index(['CheckIn', 'CheckOut', 'Title', 'Price', 'Super_host', 'Latitude',
       'Longitude', 'EntireHomeVsRoom', 'Bedrooms_no', 'Beds_no',
       'Bathrooms_num', 'Sleeping_engagment', 'Amenities', 'Accuracy_stars',
       'Communication_stars', 'Cleanliness_stars', 'Location_stars',
       'CheckIn_stars', 'Value_stars', 'Review'],
      dtype='object')

In [32]:
CairoData['Price'] = CairoData.Price.str.replace('$','').astype(float)

In [33]:
CairoPrice= CairoData[['CheckIn','CheckOut', 'Price']]
CairoPrice.head()

           CheckIn         CheckOut  Price
0  2019-03-14 0:00  2019-03-19 0:00   15.0
1  2019-03-14 0:00  2019-03-19 0:00   12.0
2  2019-03-14 0:00  2019-03-19 0:00   22.0
3  2019-03-14 0:00  2019-03-19 0:00   19.0
4  2019-03-14 0:00  2019-03-19 0:00   23.0

In [34]:

AvgPrice_Cairo = pd.Series(data= CairoPrice.groupby('CheckIn')['Price'].mean())
AvgPrice_Cairo

CheckIn
2019-03-14 0:00    62.996310
2019-03-28 0:00    39.832776
2019-04-11 0:00    41.840678
2019-04-25 0:00    42.090909
2019-05-09 0:00    44.656566
2019-05-23 0:00    44.429054
2019-06-06 0:00    45.294314
2019-06-20 0:00    48.340067
2019-07-04 0:00    46.976109
2019-07-18 0:00    48.453947
2019-08-01 0:00    49.131757
2019-08-15 0:00    51.296667
2019-08-29 0:00    51.493151
2019-09-12 0:00    62.506667
2019-09-26 0:00    61.709459
2019-10-10 0:00    62.976190
2019-10-24 0:00    58.280000
2019-11-07 0:00    62.986486
2019-11-21 0:00    61.865772
2019-12-05 0:00    61.703704
2019-12-19 0:00    61.828283
2020-01-02 0:00    65.503333
2020-01-16 0:00    65.763333
2020-01-30 0:00    66.547619
2020-02-13 0:00    63.810631
2020-02-27 0:00    63.641892
Name: Price, dtype: float64

In [35]:
#reate a data object
price_data_Cairo = go.Scatter(x=AvgPrice_Cairo.index,y=AvgPrice_Cairo.values)

In [36]:
#set up the plot layout
layout3 = go.Layout(title='Cairo_ Average Price Plot', xaxis=dict(title='CheckIn_Date'),yaxis=dict(title='Price'))

In [37]:
# create a figure and display it
fig3 = go.Figure(data=[price_data_Cairo],layout=layout3)

In [38]:
#display the plot interactively
iplot(fig3)